:root {
  font-family: "Poppins", sans-serif !important;

  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  --main-bg-color: #ffffff;
  --main-text-color: #333;
  --main-link-color: #007bff;
  --main-link-hover-color: #0056b3;
  --main-border-color: #ccc;
  --main-border-radius: 5px;
  --main-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --main-transition: 0.3s;
}

body {
  background-color: var(--main-bg-color);
}

/* center a mainButton */
.mainButton {
  position: absolute; /* Ensure the element is positioned relative to its nearest positioned ancestor */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainButton button {
  padding: 20px 40px;
  font-weight: bolder;
  font-size: large;
  background-color: #006fe6;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
}

.mainButton button:hover {
  background-color: #0056b3;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mainButton button:active {
  background-color: #003f7f;
  transition: 0.3s all ease-in-out;
}

.pop-up {
  position: fixed;
  font-weight: bolder;
  bottom: 0;
  right: 0;
  font-size: 10px;
  margin: 10px;
  background-color: #000000;
  color: white !important;
  border-radius: 5px;
  padding: 5px 10px;
}

.pop-up a {
  color: white;
  font-weight: normal;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-weight: bolder;
  font-size: smaller;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: medium;
}

.contact a {
  color: rgb(0, 0, 0);
  gap: 1rem;
  margin: 0.25rem;
  font-size: medium;
}

/* Responsive Design */
@media (max-width: 768px) {
  .mainButton button {
    padding: 15px 30px;
    font-size: medium;
  }

  .pop-up {
    display: none;
  }

  footer {
    font-size: smaller;
  }

  .contact {
    flex-direction: row;
    gap: 0.5rem;
  }

  .contact a {
    font-size: small;
  }
}

@media (max-width: 480px) {
  .mainButton button {
    padding: 20px 50px;
    font-size: small;
    font-weight: bolder !important;
  }

  .pop-up {
    display: none;
  }

  footer {
    font-size: x-small;
  }

  .contact {
    gap: 0.25rem;
  }

  .contact a {
    font-size: x-small;
  }
}